.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__svg {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin: 10px;

    &:hover {
      transform: scale(1.25);
      transition: transform 0.2s;
    }
  }
}
