.locationLimitReachedPopup {
  position: fixed;
  left: 50%;
  top: 5%;
  margin: auto;
  border-radius: 10px;
  background-color: #fff;
  color: #330285;
  z-index: 7000;
  padding: 20px 30px;
  transform: translateX(-50%);
}
