.location {
  padding-top: 50px;
  width: 96%;
  display: flex;

  justify-content: space-evenly;

  margin: 0 auto;
  @media screen and (max-width: 900px) {
    align-items: center;
    flex-wrap: wrap;
  }
}

@supports (-ms-accelerator: true) {
  /* Edge only */

  .location {
    justify-content: space-between;
    padding-top: 50px;
    width: 96%;
    display: flex;
  }
}

.locationContainer {
  width: 96%;
  margin: 6% auto 0;
}
