.location {
  padding-top: 50px;
  width: 96%;
  // min-width: 600px;
  display: flex;
  justify-content: space-evenly;
  // border: 1px solid #f12225;
  margin: 0 auto;
  @media screen and (max-width: 900px) {
    align-items: center;
    // flex-direction: column;
    flex-wrap: wrap;
    
  }
}

.locationContainer {
  // display: flex;
   width: 96%;
  // flex-wrap: wrap;
   margin: 0 auto;
  // min-height: calc(100vh - 2px);
  // border: 1px solid #fff;
  // padding: 20px;
}
