.background {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  // z-index: -1;
  overflow: hidden;
  position: absolute;
  color: #aec7d80a;
  color: #fff;

  &__cloud1 {
    position: absolute;
    top: 20%;
    right: 75%;
  }
  &__cloud2 {
    position: absolute;
    top: 1%;
    right: -10%;
  }
  &__cloud3 {
    position: absolute;
    top: 60%;
    right: 30%;
  }
}

.background--default {
  background-color: black;
}

.background--n {
  background-image: linear-gradient(to bottom, #4201a0, #040734);
  // z-index: -2;
}

/* Day mode */

.background--d {
  background-image: linear-gradient(to bottom, #307dfc, #56a0fb, #307dfc);
  // z-index: -2;
}
