.current-weather {
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    @media screen and (max-width: 600px) {
      justify-content: center;
    }
    &__stats {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //border: 1px solid #fff;

      // position: relative;

      // @media screen and (max-width: 400px) {
      //   position: absolute;
      //   bottom: 0;
      //   right: -50%;
      // }
    }

    &__temp {
      margin-top: 30px;
      font-size: 170px;
      line-height: 150px;
      font-weight: 700;
      position: relative;
      color: var(--color-primary);

      // display: flex;

      // justify-content: center;
      // align-items: center;
      // @media screen and (max-width: 600px) {
      //   font-size: 100px;
      //   line-height: 100px;
      // }
      // @media screen and (max-width: 400px) {
      //   font-size: 70px;
      //   line-height: 70px;
      // }

      &--number {
        letter-spacing: -10px;
      }

      &--degree {
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 400;
        font-size: 100px;

        transform: translate(30px, -40px);
      }
    }

    &__location {
      display: flex;
      // background-color: rgba(255, 255, 255, 0.144);
      // padding: 5px;
      justify-content: flex-start;
      align-items: baseline;
      border-radius: 4px;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;

      &--pin {
        height: 22px;
        width: 22px;
        margin-right: 5px;
      }
    }

    &__icon {
      //border: 1px solid green;
      // width: 50%;
      display: flex;

      justify-content: center;
      align-items: center;
    }
  }

  &__details {
    background-color: rgba(255, 255, 255, 0.144);
    margin-top: 10px;
    padding: 6px;
    border-radius: 4px;
    // &__sunrise {
    //   color: var(--color-secondary);
    // }

    // &__sunset {
    // }
  }
}
