.weather-forecast {
  width: 100%;
  max-width: 400px;
  &__day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.144);
    padding: 0 30px;
    border-radius: 4px;
  }

  &__weekdayName {
  }

  &__details {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__temps {
      display: flex;
      justify-content: center;

      &--primary {
        color: var(--color-primary);
      }
      &--secondary {
        color: var(--color-secondary);
      }
    }
  }
}
