@import "Normalize.scss";
@import url("https://fonts.googleapis.com/css?family=Overpass:400,600,700,900|Rubik:500,700&display=swap");

:root {
  --color-primary: #fff;
  --color-secondary: rgba(255, 255, 255, 0.418);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Overpass", sans-serif;
}

body {
  color: #fff;
  background-color: #000;
}

.btn-reload {
  margin: 30px;
  padding: 8px 12px;
  background-color: black;
  border: 2px solid #797979;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border: 2px solid #10b92c;
  }
}

.App {
  text-align: center;
  position: relative;

  &__container {
    width: 100%;
    // max-width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 2px);
    // border: 1px solid #fff;
    padding: 20px;
    position: relative;
  }
}

/* Night mode */

.forecastImage {
  height: 30px;
  width: 30px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
