@import "Normalize.scss";
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Overpass:400,600,700,900|Rubik:500,700&display=swap");

:root {
  --color-primary: #fff;
  --color-secondary: rgba(255, 255, 255, 0.418);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Overpass", sans-serif;
}

body {
  color: var(--color-primary);
  background-color: #000;
}

.btn-reload {
  margin: 30px;
  padding: 8px 12px;
  background-color: black;
  border: 2px solid #797979;
  color: var(--color-primary);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border: 2px solid #4531b1;
  }
}

.App {
  text-align: center;
  position: relative;

  &__container {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    padding: 20px;
    position: relative;
  }
}

.slick-dots li button:before {
  color: var(--color-primary);
  opacity: 0.25;
}

.slick-dots li.slick-active button:before {
  color: var(--color-primary) !important;
}

.slick-arrow {
  display: block;
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  @media screen and (max-width: 900px) {
    top: 20%;
  }
}
