@import "Normalize.scss";
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css?family=Overpass:400,600,700,900|Rubik:500,700&display=swap");

:root {
  --color-primary: #fff;
  --color-secondary: rgba(255, 255, 255, 0.418);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Overpass", sans-serif;
}

body {
  color: #fff;
  background-color: #000;
}

.btn-reload {
  margin: 30px;
  padding: 8px 12px;
  background-color: black;
  border: 2px solid #797979;
  color: #ffffff;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border: 2px solid #10b92c;
  }
}

.App {
  text-align: center;
  position: relative;

  &__container {
    width: 100%;
    
    margin: 0 auto;
    min-height: calc(100vh - 2px);
   
    padding: 20px;
    position: relative;
  }
}



.forecastImage {
  height: 30px;
  width: 30px;
}

.algolia-places {
  max-width: 600px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}



.slick-dots li button:before {
    color: #fff;
    opacity: .25;
  }

  .slick-dots li.slick-active button:before {
    color: #fff !important;
}


.slick-arrow{
  display: block;
  position: absolute;
  top: 50%;
  height: 20px;
  width: 20px;
  transform: translateY(-50%); 
  @media screen and (max-width: 900px){
    top: 20%;
  }
}
